body {
    font-family: Arial, sans-serif;
    background-image: url(./img/Frecciarossa..jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    color: #333;
}

h1, h2 {
    text-align: center;
    color: white;
}

h1 {
    margin-top: 20px;
}

.form-container, .ticket-container {
    margin: 20px 0;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-container label {
    margin-right: 10px;
    font-weight: bold;
}

.form-container input, .form-container select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #c41228;
    border-radius: 5px;
}

.form-container button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container .generate {
    background-color: #c41228;
    color: white;
}

.form-container .cancel {
    background-color: lightgray;
    color: black;
}

.ticket-container {
    background-color: #F7F7F7;
    padding: 20px;
    border-radius: 10px;
}

.ticket-container table {
    width: 100%;
    border-collapse: collapse;
}

.ticket-container th, .ticket-container td {
    text-align: left;
    padding: 10px;
    border: 1px solid #c41228;
}

.ticket-container th {
    background-color: #c41228;
    color: white;
}

.highlight {
    background-color: lightgray;
    font-weight: bold;
}